<a href="https://colab.research.google.com/github/tanvircr7/meh/blob/master/4-ex-string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s='Earth revolves around the sun'
print(s[6:14]) # [ ) means this basically
print(s[-3:]) # [ ) means this but backwards goes from 0 -> 3(not included)

revolves
sun

In [4]:
street = "13 patli gali"
city = "New Delhi"
country = "India"
address = street + '\n' + city + '\n' + country
print("Address using + operator:",address)
address = f'{street}\n{city}\n{country}'
print("Address using f-string:",address)

Address using + operator: 13 patli gali
New Delhi
India
Address using f-string: 13 patli gali
New Delhi
India

In [3]:
num_fruits=10
num_veggies=5
print(f"I eat {num_veggies} veggies and {num_fruits} daily")

I eat 5 veggies and 10 daily

In [6]:
# 4. I have a string variable called s='maine 200 banana khaye'. This of course is a
# wrong statement, the correct statement is 'maine 10 samosa khaye'.
# Replace incorrect words in original strong with new ones and print the new string.
# Also try to do this in one line.
s='maine 200 banana khaye'
s=s.replace('banana','samosa')
s=s.replace('200','10')
print("Using two line replace:",s)

x='maine 200 banana khaye'
x=x.replace('banana','samosa').replace('200','10')
print("Using single line:",x)

Using two line replace: maine 10 samosa khaye
Using single line: maine 10 samosa khaye

In [7]:
s="you have built and have been faithful to yourself for something"
s = s.replace('built','destroyed').replace('have been faithful to','betrayed').replace('something','nothing')
s

'you have destroyed and betrayed yourself for nothing'

In [8]:
s="you have built built and have been faithful to yourself for something"
s = s.replace('built','destroyed').replace('have been faithful to','betrayed').replace('something','nothing')
s

'you have destroyed destroyed and betrayed yourself for nothing'